body {
            box-sizing: border-box;
            margin: 0px;
            background-image: url("judy's_living_room.png");
            background-size: cover
        }

        h1 {
            margin-top: 0.2em;
            margin-bottom: 0em;
            display: flex;
            justify-content: center;
            font-family: 'Sassy Frass', cursive;
            font-size: 6rem;
            color: white;
            text-shadow: 2px 2px #ff0099;
            text-align: center;
        
        }
        

        img {
            width: 20rem;
        }

        .vertical {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cookie {
            background-color: #ff62c0;
            border: white 1px solid;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 30em;
            padding: 2em;
            color: white;
            font-family: 'Courier New', Courier, monospace;
        }

        #display {
            background-color: white;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1em;
            width: 20em;
            height: 3em;
            color: black;
            border: black 1px solid;
            border-radius: 10px;
            margin-bottom: 2em;
            font-family: 'Courier New', Courier, monospace;
        }

        input[type=button] {
            background-color: #ffffff;
            border: none;
            color: rgb(0, 0, 0);
            padding: 16px 32px;
            text-decoration: none;
            margin-top: 1em;
            cursor: pointer;
            border-radius: 25px;
        }

        input[type=button]:hover {
            color: #ff62c0;
        }

        #promo {
            position: fixed;
            width: 100%;
            background-color: #ff62c0;
            color: white;
            bottom: 0px;
            padding: 2em 0em;
            text-align: center;
        }

        #promo > * {
            color: white;
            text-decoration: none;
        }

        #click {
            text-decoration: underline;
        }

        #close {
            padding: 0.5em 0.75em; 
            position: absolute;
            top: 0em;
            right: 0em;
        }

        #close:hover {
            background-color: #ff0099;
            cursor: pointer;
        }

        @media only screen and (max-width: 600px) {
            #display {
                width: 15em;
            }
        }